<div class="container">
  <%# <%= image_tag  '' %>
  <div class="justify-text-center">
    <p>Enter</p>
    <p>theGreenRoom</p>
  </div>
  <div class="align-text-center"><span>I am a ..</span></div>
    <div class="row d-flex justify-content-around row">
      <button>Artist</button>
      <button>Venue</button>
      <%# <button>Venue <%= # link_to new_venue_session_path, "venue", class: "n"</button> #%>
    </div>
</div>
